- register_javascripts "barclamps/glance/form"

= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = instance_field :keystone
    = instance_field :glance
    = instance_field :cinder
    = instance_field :swift
    = instance_field :quantum
    = instance_field :nova
    = boolean_field :verbose
